BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "sda" SITE "P16";
IOBUF PORT "sda" IO_TYPE = LVCMOS33 PULLMODE=UP;

LOCATE COMP "scl" SITE "J18";
IOBUF PORT "scl" IO_TYPE = LVCMOS33 PULLMODE=UP;

LOCATE COMP "rstn" SITE "F4";
IOBUF PORT "rstn" IO_TYPE = LVCMOS33 PULLMODE=UP;

LOCATE COMP "fastclk" SITE "P3";
IOBUF PORT "fastclk" IO_TYPE = LVCMOS33 ;
FREQUENCY PORT "fastclk" 25.0 MHz;

LOCATE COMP "led" SITE "H18";
IOBUF PORT "led" IO_TYPE = LVCMOS33;
